<div class = "row">
    <div class="card col-md-6 col-12">
        <div class="hImg">
            <img class="img-fluid" style="object-fit:contain;height:250px" src="https://www.insidehighered.com/sites/default/server_files/media/imaginima.jpg" width="400" height="400" />
        </div>
<h3 class="hName"><a href="http://localhost:1337/book/booklist/">Book</a></h3>
    </div>

    <div class="card col-md-6 col-12">
        <div class="hImg">
            <img class="img-fluid" style="object-fit:contain;height:250px" src="https://www.planetpaper.com/wp-content/uploads/2017/07/corrugated_box_manufacturing_usa-canada_worldwide_shipping-1236x1038.jpg?x38052" width="400" height="400" />
        </div>
        <h3 class="hName"><a href="http://localhost:1337/material/materiallist/">Activity Materials</a></h3>
            </div>

            <div class="card col-md-6 col-12">
                <div class="hImg">
                    <img class="img-fluid" style="object-fit:contain;height:250px" src="https://merapresent.com/image/cache/catalog/2-1920x825.jpg" width="400" height="400" />
                </div>
                <h3 class="hName"><a href="http://localhost:1337/present/presentlist/">Present</a></h3>
                    </div>

                    <div class="card col-md-6 col-12">
                        <div class="hImg">
                            <img class="img-fluid" style="object-fit:contain;height:250px" src="https://i.ytimg.com/vi/UO6GiMaZy9I/maxresdefault.jpg" width="400" height="400" />
                        </div>
                        <h3 class="hName"><a href="http://localhost:1337/boardgame/boardgamelist/">Board Game</a></h3>
                            </div>
</div>


