<div><b>Boardgames:</b></div>
<% boardgames.forEach( function(model) { %>
<div><%= model.name %></div>
<% }); %>
<br>

<div><b>Book:</b></div>
<% books.forEach( function(model) { %>
<div><%= model.name %></div>
<% }); %>
<br>

<div><b>Material:</b> </div>
<% materials.forEach( function(model) { %>
<div><%= model.name %></div>
<% }); %>
<br>

<div><b>Present:</b></div>
<% presents.forEach( function(model) { %>
<div><%= model.name %></div>
<% }); %>