<form action="/user/search" method="POST">

        <div class="form-group">
            <label>Keyword search:</label>
            <input type="text" class="form-control" name="keyword"  required>
        </div>
        
    <button type="submit" class="btn btn-primary">search</button>
</form>


<% if(boardgames) {boardgames.forEach( function(model) { %>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Board Game name: <%= model.name %></li>
        </ul>

    </div>
    <% })}; %>