<ul class="col-md-7 col-12 list-group">
    <% User.forEach( function(model) { %>
        <li class = list-group-item><a href="http://localhost:1337/user/view/">
            <%= model.username %>  </a>  </li>
            <% }); %>
</ul> 
<div>
    <button type="button" class="btn btn-primary" styler="color: white"><a href = "http://localhost:1337/user/create/">
       Create User
 </a></button>
</div>



<!-- <script>
function createButton(){

   return res.redirect("user/create")
}

</script> -->