<ul class="col-md-7 col-12 list-group">
    <% book.forEach( function(model) { %>
        <li class = list-group-item><a href="http://localhost:1337/book/bookingdetail/<%= model.id %>">
            <%= model.name %>  </a>  </li>
            <% }); %>
</ul>